@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

@keyframes modal {
    from {
        opacity: 0;
        transform: translate3d(0, -60px, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0,)
    }
}

html{
    --primary: #1F1C2E;
    --grey: #4A4A4A;
}

button {
    cursor: pointer;
}

.cadastro-container {
    display: none;
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0px;
    top: 0px;
    justify-content: center;
    align-items: center;
    background: #1F1C2E50;
}

.cadastro-container.mostrar {
    display: flex;
}

.entrar-container {
    display: none;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    justify-content: center;
    align-items: center;
    background: #1F1C2E50;
}

.entrar-container.mostrar {
    display: flex;
}

.recuperacao-container {
    display: none;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    justify-content: center;
    align-items: center;
    background: #1F1C2E50;
}

.recuperacao-container.mostrar {
    display: flex;
}

.modal {
    width: 30%;
    min-width: 425px;
    position: relative;
    padding: 30px;
    border: 10px solid white;
    border-radius: 25px;
    background: white;
    font-family: 'DM Sans', sans-serif;
    box-shadow: 3px 3px 3px 3px rgba(0,0,0,.1);
    animation: modal .3s;
}


#modal-entrar{
    height: 62%;
}

#bt-fechar {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0px;
    right: 0px;
    border: none;
    border-radius: 50%;
    background: white;
    color: var(--primary);
    font-size: 1.2em;   
}

#bt-fechar:hover {
    background: var(--primary);
    color: white;
    transition: 0.2s;
}

.modal h1 {
    margin: 15px 0 20px 0;
    font-weight: bold;
    font-size: 35px;
    text-align: center;
}

.modal p {
    margin: 20px 0 20px 0;
    color: var(--grey);
    font-size: 18px;
    text-align: center;
}

.modal label {
    position: absolute;
    padding: 0 10px 0 10px;
    background: white;
    color: var(--grey);
    font-size: 18px;
}

.lb-esquerdo {
    left: 40px;
}

.lb-direito {
    left: 260px;
}

.input {
    height: 40px;
    border: 2px solid #A4A4A4;
    border-radius: 10px;
    margin: 15px 0 30px 0;
    color: var(--primary);
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
    text-align: center;
}

.input-inteiro {
    width: 98%;
}

.input-direito {
    width: 47%;
    float: right;
}

.input-esquerdo {
    width: 47%;
    float: left;
}

.enviar-formulario {
    width: 100%;
    padding: 10px;
    border: 3px solid var(--primary);
    border-radius: 50px;
    background: var(--primary);
    color: white;
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
    cursor: pointer;
}

.enviar-formulario:hover {
    background: white;
    color: var(--primary);
    font-weight: bold;
    transition: 0.2s;
}

#bt-modal-recuperacao {
    position: absolute;
    top: 400px;
    left: 170px;
    padding: 6px;
    border: none;
    background: none;
    color: var(--primary);
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
    font-size: 15px;
}

#bt-modal-recuperacao:hover {
    text-decoration: underline;
}

#linha {
    width: 87%;
    position: absolute;
    top: 430px;
    color: #A4A4A4;
}

#bt-modal-cadastro2 {
    width: 87%;
    min-width: 200px;
    position: absolute;
    top: 460px;
    padding: 10px;
    border: 3px solid var(--primary);
    border-radius: 50px;
    background: white;
    color: var(--primary);
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
    font-size: 18px;
}

#bt-modal-cadastro2:hover {
    background: var(--primary);
    color: white;
    font-weight: normal;
    transition: 0.2s;
}