@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

html{
    --primary: #1F1C2E;
    --backgrond: #E6E6E6;
    --grey: #4A4A4A;

    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
}

body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: var(--backgrond);
    font-family: 'DM Sans', sans-serif;
    text-shadow: 0.2em 0.2em 0.3em #8a8888;
}

.content{
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 60% 40%;
    align-items: center;
}

.container{
    width: 495px;
    height: 586px;
    margin: 198px 202px 285px;
    
}

h1{
    color: var(--primary);
    font-size: 72px;
    font-weight: 700, bold;
    margin-bottom: 0;
}

h2{
    color: var(--grey);
    font-size: 36px;
    font-weight: normal;
    line-height: 46.87px;
    margin-top: 0;
}

p{
    color: var(--grey);
    font-size: 26px;
    line-height: 31.25px;
    margin-top: 41px;
}

.botoes{
    width: 240px;
    height: 60px;
    font-size: 18px;
    border-radius: 50px;
    font-weight: 500;
    margin-top: 42px;
    border: 0.2em solid var(--primary);
    box-shadow: 0.1em 0.1em 0.2em #8a8888;
    position: relative;
    cursor: pointer;
    transition: 400ms ease;
}

#botao-cadastro{
    background-color: var(--primary);
    color: var(--backgrond);
}

#botao-cadastro:hover {
    background: rgb(0, 0, 0, 0);
    color: var(--primary);
}



#botao-entrar{
    background-color: var(--backgrond);
    color: var(--primary);
    margin-left: 10px;
}

#botao-entrar:hover{
    background: var(--primary);
    color: var(--backgrond);
}

#image{
    position: absolute;
    width: 439px;
    left: 798px;
    margin-top: 384px;
    margin-right: 149px;
    margin-bottom: 273px;
}

footer{
    height: 98px;
    background-color: var(--primary);
}