.main-section{
    width: 82%;
    margin: auto;
    max-width: 980px;
    position: relative;
}

.main-section > .infos > .title{
    font-size: 3.8rem;
}

.main-section > .infos > .subtitle{
    font-weight: normal;
    color: var(--color-secondary-29);
}

.main-section > .infos > .paragraph{
    color: var(--color-secondary-29);
    line-height: 2rem;
}

.main-section > .infos > .buttons{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 40px 0;
}

.main-section > .illustration{
    width: 100%;
}