button {
    cursor: pointer;
}

.bt-modal {
    font-family: 'DM Sans';
    min-width: 200px;
    width: 200px;
    padding: 10px;
    border-radius: 50px;
    border: 3px solid #1F1C2E;
}

.bt-modal-cadastro {
    background: #1F1C2E;
    color: #FFFFFF;
    font-size: 18px;
}

.bt-modal-cadastro:hover {
    background: #FFFFFF;
    color: #1F1C2E;
    transition: 0.2s;
    font-weight: bold;
}


.bt-modal-cadastro2 {
    position: absolute;
    background: #FFFFFF;
    color: #1F1C2E;
    font-size: 18px;
    font-weight: bold;
    width: 87%;
    top: 440px;
}

.bt-modal-cadastro2:hover {
    background: #1F1C2E;
    color: #FFFFFF;
    transition: 0.2s;
    font-weight: normal;
}

.bt-modal-entrar {
    background: #FFFFFF;
    color: #1F1C2E;
    font-size: 18px;
    font-weight: bold;
}

.bt-modal-entrar:hover {
    background: #1F1C2E;
    color: #FFFFFF;
    transition: 0.2s;
    font-weight: normal;
}

.bt-modal-recuperacao {
    font-family: 'DM Sans';
    background: none;
    color: #1F1C2E;
    border: none;
    font-weight: bold;
    font-size: 15px;
    position: absolute;
    top: 395px;
    left: 170px;
}

.bt-modal-recuperacao:hover {
    text-decoration: underline;
}

@keyframes modal {
    from {
        opacity: 0;
        transform: translate3d(0, -60px, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0,)
    }
}

.cadastro-container {
    width: 100vw;
    height: 100vh;
    background: #1F1C2E50;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 2000;
    display: none;
    justify-content: center;
    align-items: center;
}

.cadastro-container.mostrar {
    display: flex;
}

.entrar-container {
    width: 100vw;
    height: 100vh;
    background: #1F1C2E50;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 2000;
    display: none;
    justify-content: center;
    align-items: center;
}

.entrar-container.mostrar {
    display: flex;
}

.recuperacao-container {
    width: 100vw;
    height: 100vh;
    background: #1F1C2E50;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 2000;
    display: none;
    justify-content: center;
    align-items: center;
}

.recuperacao-container.mostrar {
    display: flex;
}

.modal {
    min-width: 425px;
    width: 30%;
    background: white;
    padding: 30px;
    border: 10px solid #FFFFFF;
    position: relative;
    border-radius: 25px;
    box-shadow: 3px 3px 3px 3px rgba(0,0,0,.3);
    animation: modal .3s;
}

#modal-entrar{
    height: 60%;
}

.fechar {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: white;
    border: none;
    font-size: 1.2em;
    font-family: 'DM Sans';
    color: #1F1C2E;
    
}

.fechar:hover {
    background: #1F1C2E;
    color: #FFFFFF;
    transition: 0.2s;
}

.modal h1 {
    text-align: center;
    margin: 15px 0 20px 0;
    font-family: 'DM Sans';
    font-size: 35px;
    font-weight: bold;
    color: #1F1C2E;
}

.modal p {
    text-align: center;
    font-family: 'DM Sans';
    margin: 20px 0 20px 0;
    color: #4A4A4A;
    font-size: 18px
}

.modal label {
    display: block;
    font-family: 'DM Sans';
    color: #4A4A4A;
    font-size: 18px;
    position: absolute;
    background: #FFFFFF;
    padding: 0 10px 0 10px;
}

.lb-esquerda {
    left: 40px;
}

.lb-direita {
    left: 260px;
}

.caixa {
    height: 40px;
    font-family: 'DM Sans';
    color: #1F1C2E;
    border: 2px solid #A4A4A4;
    border-radius: 10px;
    margin: 15px 0 30px 0;
    font-size: 18px;
    text-align: center;
}

.caixa-inteira {
    width: 98%;
}

.caixa-direita {
    width: 47%;
    float: right;
}

.caixa-esquerda {
    width: 47%;
    float: left;
}

.bt-avançar {
    font-family: 'DM Sans';
    cursor: pointer;
    width: 100%;
    padding: 10px;
    border-radius: 50px;
    background: #1F1C2E;
    color: #FFFFFF;
    border: 3px solid #1F1C2E;
    font-size: 18px;
}

.bt-avançar:hover {
    background: #FFFFFF;
    color: #1F1C2E;
    transition: 0.2s;
    font-weight: bold;
}

#linha {
    position: absolute;
    color: #A4A4A4;
    width: 87%;
    top: 420px;
}

