@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

@keyframes modal {
    from {
        opacity: 0;
        transform: translate3d(0, -60px, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0,)
    }
}

html{
    --primary: #1F1C2E;
    --grey: #4A4A4A;
}

button {
    cursor: pointer;
}

.cadastro-container {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    background: #1F1C2E50;
}

.cadastro-container.mostrar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.entrar-container {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    justify-content: center;
    align-items: center;
    background: #1F1C2E50;
}

.entrar-container.mostrar {
    display: flex;
}

.recuperacao-container {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    justify-content: center;
    align-items: center;
    background: #1F1C2E50;
}

.recuperacao-container.mostrar {
    display: flex;
}

.interesses-container {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    justify-content: center;
    align-items: center;
    background: #1F1C2E50;
}

.interesses-container.mostrar {
    display: flex;
}

.modal {
    margin-top: 80px;
    width: 100%;
    max-width: 425px;
    position: relative;
    padding: 30px;
    border: 10px solid white;
    border-radius: 25px;
    background: white;
    font-family: 'DM Sans', sans-serif;
    box-shadow: 3px 3px 3px 3px rgba(0,0,0,.1);
    animation: modal .3s;
    user-select: none;
}


#modal-entrar {
    height: 480px;
}

#modal-interesses {
    width: 600px;
    min-width: 600px;
    height: 552px;
}

#bt-fechar {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0px;
    right: 0px;
    border: none;
    border-radius: 50%;
    background: white;
    color: var(--primary);
    font-size: 1.2em;   
}

#bt-fechar:hover {
    background: var(--primary);
    color: white;
    transition: 0.2s;
}

.modal h1 {
    margin: 15px 0 20px 0;
    font-weight: bold;
    font-size: 35px;
    text-align: center;
}

.modal p {
    margin: 20px 0 20px 0;
    color: var(--grey);
    font-size: 18px;
    text-align: center;
}

#cadastro label {
    position: absolute;
    padding: 0 10px 0 10px;
    background: white;
    color: var(--grey);
    font-size: 18px;
}

#entrar label {
    position: absolute;
    padding: 0 10px 0 10px;
    background: white;
    color: var(--grey);
    font-size: 18px;
}

#recuperacao label {
    position: absolute;
    padding: 0 10px 0 10px;
    background: white;
    color: var(--grey);
    font-size: 18px;
}

.field-form {
    position: relative;
  }
  .field-form > .field {
    border: 1.5px solid #a2a2a2;
    border-radius: 5px;
    height: 50px;
    width: 100%;
    padding-left: 15px;
    outline: none;
  }
  .field-form > .field:focus, .field-form > .field:valid {
    border: 1.5px solid #5fa8d3;
  }
  .field-form > .field:focus + .label, .field-form > .field:valid + .label {
    transform: translateY(-180%);
    margin-left: 11px;
    font-size: 14px;
    color: #5fa8d3;
    background-color: white;
    padding: 0 7px 0 7px;
  }
  .field-form > .label {
    position: absolute;
    bottom: 17px;
    left: 0%;
    padding: 0px 15px;
    font-size: 1rem;
    color: #a2a2a2;
    pointer-events: none;
    transition: all 0.3s ease;
  }

input[type=submit] {
    width: 100%;
    padding: 10px;
    border: 3px solid var(--primary);
    border-radius: 50px;
    background: var(--primary);
    color: white;
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
    cursor: pointer;
}

input[type=submit]:hover {
    background: white;
    color: var(--primary);
    font-weight: bold;
    transition: 0.2s;
}

#bt-modal-recuperacao {
    position: absolute;
    top: 400px;
    left: 170px;
    padding: 6px;
    border: none;
    background: none;
    color: var(--primary);
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
    font-size: 15px;
}

#bt-modal-recuperacao:hover {
    text-decoration: underline;
}

#linha {
    width: 87%;
    position: absolute;
    top: 430px;
    color: #A4A4A4;
}

#bt-modal-cadastro2 {
    width: 87%;
    min-width: 200px;
    position: absolute;
    bottom: 30px;
    padding: 10px;
    border: 3px solid var(--primary);
    border-radius: 50px;
    background: white;
    color: var(--primary);
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
    font-size: 18px;
}

#bt-modal-cadastro2:hover {
    background: var(--primary);
    color: white;
    font-weight: normal;
    transition: 0.2s;
}

#enviar-formulario-interesses {
    margin-top: 27px;
}

#interesses div {
    color: var(--primary);
    margin:4px;
    border-radius:20px;
    float:left;
}
 
#interesses div label {
    float:left;
    width:139px;
    height: 70px;
    cursor: pointer;

}
 
#interesses div label span {
    text-align:center;
    padding:23px 0;
    display:block;
    border-radius: 20px;
}

#interesses div input:checked + span {
    border: 3px solid var(--primary);
    border-radius: 20px;
}

#bt-futebol {
    background: #C8F6DC;
}

#bt-nba {
    background: #F5DBAE;
}

#bt-entretenimento {
    background: #C7D7F5;
}

#bt-ciencias {
    background: #F5A395;
}

#bt-programacao {
   background: #D9C8F6;
}

#bt-hacktivismo {
   background: #AEF5B9;
}

#bt-culinaria {
   background: #F5C7C7;
}

#bt-eventos {
   background: #DCF595;
}

#bt-politica {
   background: #F6C8C8;
}

#bt-astronomia {
   background: #F5F2AE;
}

#bt-games {
   background: #CDF5C7;
}

#bt-cinema {
   background: #95EFF5;
}

#bt-celebridades {
   background: #C9C8F6;
}

#bt-saude {
   background: #F4AEF5;
}

#bt-negocios {
   background: #F5C7C7;
}

#bt-economia {
   background: #F5DA95;
}

/*==============================================================*/
/* Blur */
.modal-container{
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    pointer-events: none;
    opacity: 0;

    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0, 0.3);

    transition: opacity 0.3s ease;
}

.modal-container.show{
    pointer-events: auto;
    opacity: 1;
}

.modal-container > .wrapper{
    background-color: white;
    border-radius: 10px;
    
    width: 600px;
    max-width: 100%;
    padding: 30px 30px;
}

.modal-container .action{
    display: flex;
    margin-top: 10px;
}

.modal-container .close{
    width: 30px;
    height: 30px;
    right: 30px;
    margin-top: 20px;
    position: absolute;
    color: var(--color-main);
    font-size: 1.2em;
}

.modal-container .paragraph{
    margin-bottom: 35px;
}

/* Input */
.input-form{
    position: relative;
    margin-bottom: 20px;
}

.input-form > .field{
    border: 2px solid var(--color-secondary);
    border-radius: 5px;
    padding-left: 9px;
    height: 50px;
    width: 95%;
    outline: none;
    transition: border ease-in 0.2s;
}

.input-form > .label{
    position: absolute;
    top: 18px;
    left: 10px;
    color: var(--color-secondary);
    pointer-events: none;
    transition: all 0.3s ease;
}

.input-form > .field:focus,
.input-form > .field:valid{
    border: 2px solid #5fa8d3;
}

.input-form > .field:focus + .label,
.input-form > .field:valid + .label{
    transform: translateY(-170%);
    font-size: 1.4rem;
    color: #5fa8d3;
    background-color: white;
    padding: 0 7px 0 7px;
}